<div class="page-header">
  <h1 style="text-align:center; color:#00C957;">New Dorm Assistant</h1>
</div>
<%= render partial: "dorm_assistants/form", locals: { dorm_assistant: @dorm_assistant, edit: false } %>
